*{
    margin: auto;
    padding: 0%;
    font-family:sans-serif;
}
.banner{
    height: 100%;
    margin:0px;
    background-image: linear-gradient(rgb(0, 255, 255,0.11),rgb(0, 255, 255,0.11)),url(sliki2/background4.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.banner h1{
    font-size: 80px;

}
#appcontainer {
    position: relative;
    background-color: white(255, 0, 0, 0.7);
    width: 100%; height:300%;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.navbar h1{
    position: relative;
}
.navbar a{
    position: relative;
    right: -300px;
    color: white;
}
.kontent{
    color: white;
    margin: 0%;
    font-family: sans-serif;
    font-size: medium;
    align-items: center;
}   
.kontent h1{
    color: rgb(255, 255, 255);
    position: relative;
    margin-left: 15%;
    margin-top: 10%;
    font-size: xx-large;
    text-transform: uppercase;
}
.kontent p{
    color: rgb(186, 253, 244);
    margin-left: 15%;
    font-size:  x-large;
    margin-top: 5%;
    font-family: fantasy;
    letter-spacing: 1px;
}
.box{
    width: 600px;
  border: 5px solid rgb(35, 120, 92);
  border-radius: 60px;
  background-color: rgb(35, 92, 92);
  padding: 10px;
  margin: 0px;
  text-align: center;
  transition: 0.5s;

}
.box:hover::after{
    width: 100%;
    border-width: 20px;
}
.kontent u{
    text-transform: uppercase;
    font-size: medium;
}
.contentFE{
   margin: 0%;
   width: 90%;
   height: 60%;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 100px;
}
#slika{
    width: 300px;
    border-radius: 20%;
    margin: 0%;
    position: relative;
    left: 300px;
    top: 70px;
}
#slika2{
    width: 450px;
    border-radius: 10%;
    margin: 0%;
    position: relative;
    left: 350px;
    top: 70px;
}
#slika3{
    width: 450px;
    height: 250px;
    border-radius: 10%;
    margin: 0%;
    position: relative;
    left: 400px;
    top: 70px;
    
}
#fontFE{
    text-transform: uppercase;
    color: white;
    
}
.contentFE h1{
    text-transform: uppercase;
    color: white;
    font-size: 45px;
    text-align: left;
    font-family: cursive;
    position: absolute;
    margin-left: 50px;
    margin-right: 200px;
    margin-top: 200px;
    letter-spacing: 1px;
}
.contentFE p{
    color: white;
    position:absolute;
    top: 550px;
    text-align: left;
    margin-left: 50px;
    margin-right: 200px;
    font-family: cursive;
    font-size: x-large;
}
#imgfront {
    color: white;
    position: relative;
    top: -950px;
    left: 70px;
    align-items: center;
    border-width: 20px;
    background-color: rgb(35, 120, 92, 0.295);
    border: 10px solid rgb(35, 120, 92);
    border-radius: 60px;
}
#imgfront3 {
    width: 400px;
    color: white;
    position: relative;
    top: -950px;
    left: 70px;
    align-items: center;
    border-width: 20px;
    background-color: rgb(35, 120, 92, 0.295);
    border: 10px solid rgb(35, 120, 92);
    border-radius: 60px;
}
#imgfront2 {
    width: 480px;
    color: white;
    position: relative;
    top: -33%;
    left: 15%;
    align-items: center;
    border-width: 20px;
    background-color: rgb(35, 120, 92, 0.295);
    border: 10px solid rgb(35, 120, 92);
    border-radius: 60px;
}
#DSslika1{
    position: absolute;
    width: 300px;
    top: 700px;
    left: auto;
    border-radius: 50px;
    border: 10px solid rgb(35, 120, 92);
}
#DSslika2{
    position: absolute;
    top: 700px;
    left: 400px;
    width: 300px;
    border-radius: 50px;
    border: 10px solid rgb(35, 120, 92);
}
.kontentDVA{
    position: relative;
    top: -700px;
    margin: 0%;
    width: 90%;
    height: 10%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
}
.kontentDVA h1{
    color: white;
    text-transform: uppercase;
    font-family: monospace;
    text-align: center;
}
.kontentDVA p{
    color: rgb(248, 20, 20);
    text-align: left;
    margin: 80px;
}
.kontentB{
    pad: 10%;
}
.kontentB h1{
    color: white;
}
.kontent2{
    margin: 0%;
    width: 90%;
    height: -30%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 100px;
 }
 .kontent2 p{
     text-transform: uppercase;
     font-size: x-large;
     color: white;
     position: relative;
     width: 400px;
     top: -600px;
     left: 20px;
 }